.services_section {
  margin-top: 120px;
}

/* .services_content {
  width: 480px;
} */


.services_content > h2 {
  
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 24px;
}

.services_content > p {
  font-size: 16px;
}

.services_cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.services_cards_item {
  background-color: #ffffff;
  width: 234px;
  height: 376px;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.services_cards_item > h2 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 8px;
}

.services_cards_item > p {
  text-align: center;
}