.services_section {
    margin-top: 120px;
}

.services_content {
    width: 480px;
}

.services_content > h3 {
    font-size: 12px;
    text-transform: uppercase;
}

.services_content > h2 {
    display: inline-block;
    line-height: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
}

.services_content > p {
    font-size: 16px;
}