.sign_section {
  
    background-color: #F9FAFB;
    padding: 64px 0;
}
.sign_block {
   
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.sign_left {
    /* margin-top: 64px; */
    display: flex;
    align-items: center;
    gap: 24px;
}

.sign_img {
    width: 80px;
    height: 80px;

}

.sign_ttl {
    margin-top: 30px;
}

.sign_ttl > h4 {
    
    color: #212B36;
    font-size: 24px;
    font-family: "Barlow", serif;
    margin-top: 8px;
    text-transform: capitalize;
}

.sign_ttl > p {
    color: #637381;
    font-size: 14px;
}



.sign_right {
    display: flex;
    align-items: baseline;
    margin-top: 45px;
    /* margin-left: 25px; */
    /* align-items: center; */
}

.sign_right input {
    width: 364px; 
    height: 56px;
    padding: 0 14px;
    background-color: #dae0e6;
    opacity: 0.8;
   
    border-radius: 4px;
    font-size: 16px;
}

.sign_right button {
    height: 56px;
    padding: 15px 22px;
    
    background-color: #FA541C;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}