.header {
    display: flex;
    justify-content: space-between;
}

.header_part1 {
    display: flex;
    align-items: center;
    gap: 48px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.header_part1 > div {
    display: flex;
    align-items: center;
}

.header_part2 {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.header_button {
    background-color: #212B36;
    border: none;
    color: #fff;
    width: 83px;
    height: 36px;
    border-radius: 6px;
    cursor: pointer;
}

